html,
body {
    padding: 0;
    margin: 0;
    /* You can add a default font family here if desired, e.g., font-family: sans-serif; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}